@import url("https://rsms.me/inter/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font-variation-settings: normal) {
  /* *roman letters */
  html {
    font-feature-settings: "salt" on;
  }
}

/* *Smooth scroll when using link anchor */
html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 720px) {
  .underlined:hover::before,
  .underlined:focus-visible::before,
  .active::before {
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.underlined {
  @apply relative pb-0.5 transition-colors;
}

.underlined::before {
  @apply absolute top-full block h-0.5
  w-full bg-black content-[''];
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, transform 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
}

.dark .underlined::before,
.dark .underlined:active::before {
  background-color: #fff;
}

.underlined:active::before {
  background-color: #000;
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI Light");
}
@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Semilight");
}
@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI");
}
@font-face {
  font-family: "Segoe UI";
  font-weight: 500;
  src: local("Segoe UI Semibold");
}
@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: local("Segoe UI Bold");
}
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe UI Italic");
}
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 700;
  src: local("Segoe UI Bold Italic");
}

.navigation__background {
  @apply fixed top-6 right-[5vw] z-[1000] h-[56px] w-[56px] rounded-[50%];
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1),
    background 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  @apply fixed top-0 left-0 z-[1500] h-[100vh] w-0 opacity-0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  @apply absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2 list-none text-center;
}

.navigation__item {
  margin: 1rem;
}

.navigation__theme-toggler,
.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  @apply inline-block bg-[length:220%] text-2xl font-light uppercase no-underline transition-all duration-[400ms];
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #1f2028 50%
  );
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  padding: 1rem 2rem;
}

.dark .navigation__link,
.dark .navigation__theme-toggler {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
}

.navigation__link:link span,
.navigation__link:visited span {
  @apply mr-6 inline-block;
}

.navigation__theme-toggler:hover,
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  transform: translateX(1rem);
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  @apply fixed top-6 right-[5vw] z-[2000] h-[56px] w-[56px] cursor-pointer rounded-[50%] bg-transparent text-center;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  @apply w-full opacity-100;
}

.navigation__icon {
  @apply relative mt-[26px];
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  @apply inline-block h-0.5 w-6;
}
.navigation__icon::before,
.navigation__icon::after {
  @apply absolute left-0 transition-all duration-200 content-[''];
}
.navigation__icon::before {
  top: -8px;
}
.navigation__icon::after {
  top: 8px;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  @apply top-0 rotate-[135deg];
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  @apply top-0 -rotate-[135deg];
}

.icon-parent:hover > svg {
  fill: white;
}

.dark .icon-parent:hover > svg {
  fill: black;
}

.icon-parent-stroke:hover > svg {
  stroke: white;
}

.dark .icon-parent-stroke:hover > svg {
  stroke: black;
}

/* Carousel */

.slider-list {
  transition: transform 1s ease 0s !important;
}

.slider-control-centerleft {
  @apply -left-[40px] flex h-[36px] w-[36px] shrink-0 items-center justify-center rounded-full border-2 border-transparent outline-none transition md:-left-[74px] md:h-[50px] md:w-[50px] md:border-gray-200 md:first-letter:hover:border-black md:dark:border-gray-600 md:dark:hover:border-white !important;
}

.slider-control-centerright {
  @apply -right-[40px] flex h-[36px] w-[36px] shrink-0 items-center justify-center rounded-full border-2 border-transparent outline-none transition md:-right-[74px] md:h-[50px] md:w-[50px] md:border-gray-200 md:hover:border-black md:dark:border-gray-600 md:dark:hover:border-white !important;
}

.slider-control-centerleft button,
.slider-control-centerright button {
  background-image: url(assets/icons/Arrow.svg) !important;
  @apply h-6 w-6 bg-transparent bg-cover bg-no-repeat p-0 text-transparent md:h-8 md:w-8 !important;
}

.slider-control-centerleft button {
  transform: rotate(90deg) !important;
}

.slider-control-centerright button {
  transform: rotate(270deg) !important;
}

.dark .slider-control-centerleft button,
.dark .slider-control-centerright button {
  background-image: url(assets/icons/ArrowWhite.svg) !important;
}

.slider-frame,
.slider-container {
  @apply w-full max-w-[1400px] !important;
}

.slider-container {
  @apply mx-[30px] md:mx-[75px];
}

.slider-control-bottomcenter {
  bottom: -40px !important;
}

.dark .paging-item button {
  fill: white !important;
}
.paging-item:not(:last-child) button {
  margin-right: 12px;
}
