@import url("https://rsms.me/inter/inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font-variation-settings: normal) {
  /* *roman letters */
  html {
    font-feature-settings: "salt" on;
  }
}

/* *Smooth scroll when using link anchor */
html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 720px) {
  .underlined:hover::before,
  .underlined:focus-visible::before,
  .active::before {
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.underlined {
  position: relative;
  padding-bottom: 2px;
  transition: color 0.1s, background-color 0.1s;
}

.underlined::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  height: 2px;
  width: 100%;
  background-color: #000;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
}

.dark .underlined::before {
  background-color: #fff;
}

.underlined:active::before {
  background-color: #000;
}

.dark .underlined:active::before {
  background-color: #fff;
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 200;
  src: local("Segoe UI Light");
}
@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  src: local("Segoe UI Semilight");
}
@font-face {
  font-family: "Segoe UI";
  font-weight: 400;
  src: local("Segoe UI");
}
@font-face {
  font-family: "Segoe UI";
  font-weight: 500;
  src: local("Segoe UI Semibold");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  src: local("Segoe UI Bold");
}
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 400;
  src: local("Segoe UI Italic");
}
@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 700;
  src: local("Segoe UI Bold Italic");
}

.navigation__background {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  position: fixed;
  top: 24px;
  right: 5vw;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1),
    background 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__theme-toggler,
.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 220%;
  transition: all 0.4s;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #1f2028 50%
  );
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
  padding: 1rem 2rem;
}

.dark .navigation__link,
.dark .navigation__theme-toggler {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
}

.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__theme-toggler:hover,
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  transform: translateX(1rem);
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: transparent;
  height: 56px;
  width: 56px;
  top: 24px;
  right: 5vw;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  position: fixed;
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 26px;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 24px;
  height: 2px;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -8px;
}
.navigation__icon::after {
  top: 8px;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.icon-parent:hover > svg {
  fill: white;
}

.dark .icon-parent:hover > svg {
  fill: black;
}

.icon-parent-stroke:hover > svg {
  stroke: white;
}

.dark .icon-parent-stroke:hover > svg {
  stroke: black;
}

/* Carousel */

.slider-list {
  transition: transform 1s ease 0s !important;
}

.slider-control-centerleft {
  @apply -left-[40px] flex h-[36px] w-[36px] shrink-0 items-center justify-center rounded-full border-2 border-transparent outline-none transition md:-left-[74px]  md:h-[50px] md:w-[50px] md:border-gray-200 md:first-letter:hover:border-black md:dark:border-gray-600 md:dark:hover:border-white !important;
}

.slider-control-centerright {
  @apply -right-[40px] flex h-[36px] w-[36px] shrink-0 items-center justify-center rounded-full border-2 border-transparent outline-none transition md:-right-[74px] md:h-[50px] md:w-[50px] md:border-gray-200 md:hover:border-black md:dark:border-gray-600 md:dark:hover:border-white !important;
}

.slider-control-centerleft button,
.slider-control-centerright button {
  background-color: transparent !important;
  background-image: url(assets/icons/Arrow.svg) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  color: transparent !important;
  @apply h-6 w-6 p-0 md:h-8 md:w-8;
}

.slider-control-centerleft button {
  transform: rotate(90deg) !important;
}

.slider-control-centerright button {
  transform: rotate(270deg) !important;
}

.dark .slider-control-centerleft button,
.dark .slider-control-centerright button {
  background-image: url(assets/icons/ArrowWhite.svg) !important;
}

.slider-frame,
.slider-container {
  @apply w-full max-w-[1400px] !important;
}

.slider-container {
  @apply mx-[30px] md:mx-[75px];
}

.slider-control-bottomcenter {
  bottom: -40px !important;
}

.dark .paging-item button {
  fill: white !important;
}
.paging-item:not(:last-child) button {
  margin-right: 12px;
}
